/* text */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.subText2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: var(--color-secondary);
}
.subText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
}
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: Regular;
  font-size: 24px;

  line-height: 100%;
  letter-spacing: 0px;
}
body{
    background-color: var(--color-bg);
}