.imgBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroInfoBox {
  position: absolute;
  inset-inline-start: 45px;
  inset-block-start: 50px;
}
.heroBox{
    background-color: var(--color-bg);
    border-radius: 15px;
    border: solid 1px var(--color-border);
    padding: 20px;
}
.lookOnInfo{
    background-image: url(../assets/imgs/home/image\ 92.png);
}
.productCardDoor{
    border: solid 1px var(--color-border);
    padding: 10px;
    background-color: var(--color-bg);
    
    
}